.order_goods_item_container {
  background-color: #5E5555;
  width: 75vw;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  .goods_info {
    width: 30vw;
    margin-left: 2vw;
    p {
      color: white;
      font-size: 1vw;
      font-weight: 800;
    }
  }
  .goods_price {
    p {
      color: white;
      font-size: 2vw;
      font-weight: 800;
    }
  }
}