@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
};

@keyframes loadingbar {
  to {
    -webkit-transform: rotate(360deg);
  }
};

.cart_item_container {
  position: relative;
  width: 80vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-size: 2vh;
    font-weight: 800;
  }
  .cart_count_inc_dec_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cart_count_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: 800;
    p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 2vh;
      font-weight: 800;
      input {
        margin-left: 1vw;
        border-radius: 13px;
        width: 3vw;
        height: 1vw;
        padding-left: 1vw;
      }
    }
    .validate_count {
      color: red;
      font-size: 1vh;
      font-weight: 800;
    }
    .count_update_button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2vh;
      font-weight: 800;
      background-color: #CCCCFF;
      width: 5vw;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.default_close_button {
  @include center;
  cursor: pointer;
  border: 0.2vw solid black;
  position: absolute;
  bottom: 82%;
  left: 97%;
  background-color: white;
  border-radius: 100px;
  width: 2vw;
  height: 2vw;
}

.mutation_handle_box {
  margin-left: 1rem;
  @include center;
  flex-direction: row;
  .state_cover {
    @include center;
    border-radius: 100px;
  }
  font-weight: 800;
};

.loading {
  margin-left: 1rem;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: loadingbar 1s ease-in-out infinite;
}