.cart_item_container {
  width: 96vw;
  border: 2px solid black;
  .goods_info_container {

  }
  p {
    font-size: 0.9vw;
    font-weight: 800;
  }
  .price_info {
    font-size: 1.2vw;
    font-weight: 800;
  }
}