.login_button_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_button {
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}