@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join_container {
  @include center;
  flex-direction: column;
  h1 {
    font-size: 4vw;
    margin: 6vh;
  }
}

.join_container__part {
  @include center;
  position: relative;
  flex-direction: row;
  width: 50vw;
  height: 15vh;
  margin: 2vw;
  border: 6px solid black;
  border-radius: 20px;
  img {
    top: 0.3vw;
    left: 6vh;
    position: absolute;
  }
}

.input_container {
  margin: 1rem;
  margin-top: 2rem;
  @include center;
  p {
    font-weight: 800;
    font-size: 1.5rem;
    width: 9rem;
    margin: 0;
  }
  input {
    height: 2rem;
  }
}

.validate_text {
  margin: 2rem;
  color: red;
  font-size: 0.7rem;
}