.wrapper {
  width: 100vw;
  overflow: hidden;
  min-height: 342.5rem;
  p {
    position: relative;
    z-index: 2;
  }
}

.bori_img {
  &1 {
    z-index: 1;
    position: absolute;
    left: 6.25rem;
    bottom: 3.425rem;
  }
  &2 {
    position: relative;
    z-index: 2;
    left: 100%;
  }
  &3 {
    right: 50%;
  }
  &4 {
    position: absolute;
    top: 100rem;
    right: 0;
    opacity: 0.5;
    z-index: 1;
    right: 12.5rem;
  }
  &5 {
    position: absolute;
    top: 100rem;
    right: 0;
    opacity: 0.5;
    z-index: 1;
    left: 31.25rem;
    right: auto;
    opacity: 1;
  }
  &6 {
    position: relative;
    z-index: 2;
    left: 100%;
    margin-top: 60%;
  }
}

.wrapper p {
  position: relative;
  z-index: 2;
}

.bg {
  width: 62.5rem;
  margin: 0 auto;
  display: flex;
  height: 12.5rem;
  justify-content: center;
  align-items: center;
  z-index: 4;
  h1 {
    font-size: 6.25rem;
  }
}

.desc3 {
  font-weight: bold;
  text-align: center;
  font-size: 3.75rem;
  opacity: 1;
}

.last_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position : relative;
  bottom: 0;
  //transform : translateY(-0%);
  margin-top: 30%;
  z-index: 2;
  h1 {
    font-size: 4vw;
  };
};

.last_button_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
};

.goods_button {
background-color: #6633CC;
color: white;
font-size: large;
font-weight: 900;
width: 10rem;
height: 4rem;
border: none;
border-radius: 20px;
margin: 5rem;
cursor: pointer;
};
  
.bori_gallery_button {
background-color: #CCCCFF;
color: white;
font-size: large;
font-weight: 900;
width: 10rem;
height: 4rem;
border: none;
border-radius: 20px;
margin: 5rem;
cursor: pointer;
};