@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.admin_page_container {
  background-color: white;
  @include center;
  position: relative;
  margin-top: 20vh;
}