.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  min-height: 50px;
  background-color: #9999CC;
};

.logo_box {
  width: 52vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-left: 17vw;
    border-radius: 100px;
    user-select: none;
  };
};

.side_bar_button {
  cursor: pointer;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

