.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #9999CC;
};

.logo_box {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 100px;
    user-select: none;
  };
};

.side_bar_button {
  cursor: pointer;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

