@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.same_email_container {
  @include center;
  background-color: white;
  flex-direction: column;
  div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    user-select: none;
    .text_container {
      flex-direction: column;
    }
  }
  h1 {
    user-select: none;
    font-size: 4vw;
    margin: 6vh;
  }
}