.oauth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    user-select: none;
    flex-direction: column;
    h1 {
      font-size: 4vw;
      margin: 6vh;
    }
  }
}