
.pushed_button {
  box-shadow: inset 3px 3px 3px 3px #000000;
  width: 16.4vw;
  border-radius: 20px 20px 0 0;
  background-color: #D9D9D9;
  border: none;
  font-size: 1vw;
  font-weight: 800;
  margin-right: 2vw;
  height: 3rem;
  cursor: pointer;
}

.normal_button {
  width: 16.4vw;
  border-radius: 20px 20px 0 0;
  background-color: #D9D9D9;
  border: none;
  font-size: 1vw;
  font-weight: 800;
  margin-right: 2vw;
  height: 3rem;
  cursor: pointer;
}