.admin_viewer_container {
  width: 90vw;
  position: relative;
  .viewer_change_button_container {
    width: 92vw;
    display: flex;
    flex-direction: row;
  }
  .admin_viewer {
    width: 90vw;
    position: relative;
    background-color: #D9D9D9;
  }
}