.userbar_container {
  height: 100%;
  display: flex;
  align-items: center;
  .non_profile {
    background-color: #D9D9D9;
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }
  .user_profile_container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.name_space {
  width: 9rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  p {
    margin: 0;
    height: 1.3rem;
    font-weight: 800;
  }
}