.bori_goods_detail_info_container {
  margin: 1vw;
  display: flex;
  flex-direction: row;
  .goods_info {
    margin-top: 1vw;
    margin-left: 2vw;
    p {
      font-weight: 800;
      font-size: 1.4vw;
    }
    .goods_category {
      display: flex;
      flex-direction: row;
    }
  }
  .goods_image_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .goods_desc_label {
    font-size: 1.4vw;
    margin-top: 5vw;
  }
  .goods_desc {
    height: 24vw;
    width: 45vw;
    border-radius: 20px;
    padding: 2vw;
    box-shadow: 0 6px 6px 0 gray;
    font-size: 1.2vw;
    font-weight: 800;
  }
}
