@keyframes loadingbar {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: loadingbar 1s ease-in-out infinite;
  }
}