.user_deliver_address {
  min-width: 40vw;
  div {
    display: flex;
    align-items: center;
    flex-direction: row;
    p {
      width: 5vw;
      font-size: 1vw;
      font-weight: 800;
    }
    input {
      height: 1.5rem;
    }
  }
}
