.input_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  p {
    width: 13rem;
    font-size: 1.3rem;
    font-weight: 800;
  }
  input {
    height: 1.3rem;
  }
}

.validate_text {
  margin-left: 2rem;
  margin-right: 2rem;
  color: red;
  font-size: 0.7rem;
}