.admin_checker_container {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
  border-radius: 20px;
  h1 {
    margin: 2vw;
    font-weight: 800;
    font-size: 1.4vw;
  }
  input {
    text-align: center;
    font-size: 1vw;
    border: none;
    outline: none;
    width: 9vw;
    height: 2vw;
  }
  button {
    margin: 2vw;
    cursor: pointer;
    border: none;
    width: 8vw;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 800;
    color: #ffffff;
    background-color: #9999CC;
  }
}