@mixin skeleton_default {
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  @keyframes loading {
    0% {
      transform: translateX(0);
    }
    50%,
    100% {
      transform: translateX(460px);
    }
  };
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    animation: loading 2s infinite linear;
  };
};

.cart_item_skeleton_container {
  position: relative;
  width: 80vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  .skeleton_image {
    width: 14vw;
    height: 14vw;
    @include skeleton_default;
  }
  .info_part {
    width: 50vw;
    @include skeleton_default;
    height: 0.9vw;
  };
};