@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bori_goods_page_container {
  @include center;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 2vw;
  }
  .bori_goods_container {
    margin-top: 1vw;
    border-top: 3px solid black;
    width: 96vw;
    display: flex;
    flex-wrap: wrap; 
  }
  .user_place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .show_count {
      width: 20vw;
      font-size: 1vw;
      font-weight: 800;
    }
    .category_label {
      padding: 0.3vw;
      text-align: end;
      width: 12vw;
      font-size: 1vw;
      font-weight: 800;
    }
  }
}

.search_part {
  @include center;
  flex-direction: row;
  label {
    padding: 0.3vw;
    text-align: end;
    width: 8vw;
    font-size: 1vw;
    font-weight: 800;
  }
  input {
    padding-left: 1rem;
    width: 20vw;
    height: 34px;
    border-radius: 20px;
    font-size: 1.3rem;
  }
  input:focus { outline: none; }
  margin-right: 2rem;
}

.styled_select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.styled_select, .styled_select select { width: 20vw; }

.styled_select:focus { outline: none; }

.styled_select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  appearance: none; 
}

@-moz-document url-prefix(){
  .styled_select select { width: 110%; }
}

.styled_select::-ms-expand { display: none; } 

_:-o-prefocus, .selector {
  .styled_select { background: none; }
  }