.bori_gallery_detail_info_container {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 4vw;
    font-size: 2vw;
  }
  .gallery_info {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      margin-left: 4vw;
    }
    p {
      font-weight: 800;
      font-size: 1.4rem;
    }
  }
  .gallery_description {
    padding: 2vw;
    min-height: 20vh;
    width: 48vw;
    border-radius: 20px;
    box-shadow: 0 6px 6px 0 gray;
    font-size: 1.2vw;
    font-weight: 800;
  }
}
