.order_controller_container {
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  .controller_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .search_button {
      width: 8vw;
      height: 2vw;
      font-size: 1vw;
      font-weight: 800;
      border-radius: 20px;
      cursor: pointer;
      background-color: wheat;
    }
  }
  .search_container {
    margin: 3vw;
    justify-content: center;
    align-items: center;
    display: flex;
    label {
      font-size: 2vw;
      font-weight: 800;
      margin-right: 2vw;
    }
    input {
      outline: none;
      border: none;
      font-size: 1.4vw;
      font-weight: 800;
      width: 20vw;
    }
    margin-right: 4vw;
  }
  .date_box {
    display: flex;
    flex-direction: row;
    .date_container {
      display: flex;
      align-items: center;
      flex-direction: row;
      p {
        width: 6vw;
        font-size: 1vw;
        font-weight: 800;
      }
      input {
        width: 8vw;
        height: 2vw;
        font-size: 1vw;
      };
    }
  }
  .list_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
