.text_container {
  display: flex;
  align-items: center;
  label {
    width: 12vw;
    font-size: 2vw;
    font-weight: 800;
  }
  input {
    width: 30vw;
    height: 2vw;
    text-align: center;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 1vw;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.content_container {
  margin: 5vh;
  p {
    font-size: 1vw;
    font-weight: 800;
  }
  textarea {
    font-size: 1vw;
    outline: none;
    width: 50vw;
    height: 6.25em;
    border: none;
    resize: none;
  }
}