.share_button {
  border-radius: 7px;
  width: 3.4vw; 
  height: 3.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid black;
  cursor: pointer;
  padding: 2px;
  background-color: rgb(225, 182, 129);
}