.search_container {
  margin: 4vw;
  justify-content: center;
  align-items: center;
  display: flex;
  label {
    font-size: 1vw;
    font-weight: 800;
    margin-right: 2vw;
  }
  input {
    outline: none;
    border-radius: 20px;
    border: 0.1vw solid black;
    color: black;
    font-size: 1.5vw;
    font-weight: 800;
    width: 20vw;
    padding-left: 1vw;
  }
  margin-right: 4vw;
}