@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_history_page_container {
  background-color: white;
  h1 {
    margin: 5vw
  }
  @include center;
  flex-direction: column;
}