.button_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1vw;
  .cart_button {
    margin-right: 10vw;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 800;
    width: 10vw;
    height: 3vw;
    background-color: #9999CC;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .order_button {
    color: black;
    margin-left: 10vw;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 800;
    width: 10vw;
    height: 3vw;
    background-color: #ffffff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}